#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>


/ {

  keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = < 
              &kp A     &kp W     &kp D     &kp S
              &kp U     &kp I   &kp O   
              &kp J     &kp K   &kp L
              &bt BT_CLR_ALL    &kp C_MUTE
            >;
        };

        bt_layer {
            bindings = <
                &kp A     &kp W     &kp D     &kp S
                &kp U     &kp I   &kp O   
                &kp J     &kp K   &kp L
                &bt BT_CLR_ALL    &kp C_MUTE
            >;
        };

        layer_3 {
            bindings = <
              &kp A     &kp W     &kp D     &kp S
              &kp U     &kp I   &kp O   
              &kp J     &kp K   &kp L
              &bt BT_CLR_ALL    &kp C_MUTE
            >;
        };
    };
};
